<h1>Danh sách bình luận<h1>
    <mat-card>
        <mat-card-header>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" placeholder="Tìm kiếm" />
      </mat-form-field>
    
        </mat-card-header>
        <mat-card-content>
    
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="STT">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>   

          <ng-container matColumnDef="Id nguoi tao">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Người tạo</th>
            <td mat-cell *matCellDef="let element">{{element.user_id}}</td>
          </ng-container>

          <ng-container matColumnDef="Ngay tao">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Ngày tạo</th>
            <td mat-cell *matCellDef="let element">{{element.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </ng-container>

          <ng-container matColumnDef="Noi dung">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Nội dung bình luận</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
                <button  mat-raised-button color="primary">Cập nhật</button>
                <button  mat-raised-button color="warn">Xóa</button>
            </td>
          </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    
    </table>
    
    </mat-card-content>
    <br>
    <mat-card-footer>
    
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    
    </mat-card-footer>
    </mat-card>
    
    
  

