<form [formGroup]="myform" (ngSubmit)="Savehouse()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
       <mat-form-field>
        <mat-label >Tên nhà trọ</mat-label>
        <input formControlName="title" matInput required>
        <mat-error *ngIf="formControls.title.errors?.['required'] && formControls.title.touched">Name is required</mat-error>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Địa chỉ</mat-label>
        <input matInput formControlName="addr" required>
        <mat-error *ngIf="formControls.addr.errors?.['required'] && formControls.addr.touched">Field is required</mat-error>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Mô tả</mat-label>
        <input matInput formControlName="desc" required>
        <mat-error *ngIf="formControls.desc.errors?.['required'] && formControls.desc.touched">Field is required</mat-error>
       </mat-form-field>
       <mat-form-field>
        <mat-label>SĐT liên hệ</mat-label>
        <input matInput formControlName="phone" required>
        <mat-error *ngIf="formControls.phone.errors?.['required'] && formControls.phone.touched">Field is required</mat-error>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Giá thuê</mat-label>
        <input matInput formControlName="rent_price" required>
        <mat-error *ngIf="formControls.rent_price.errors?.['required'] && formControls.rent_price.touched">Field is required</mat-error>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Số lượng phòng</mat-label>
        <input matInput formControlName="nroom" required>
        <mat-error *ngIf="formControls.nroom.errors?.['required'] && formControls.nroom.touched">Field is required</mat-error>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Số lượng phòng trống</mat-label>
        <input matInput formControlName="nbroom" required>
        <mat-error *ngIf="formControls.nbroom.errors?.['required'] && formControls.nbroom.touched">Field is required</mat-error>
       </mat-form-field>
       <!-- <mat-form-field> -->
        <mat-label>Hình ảnh</mat-label>
        <!-- <input matInput formControlName="image" required>
        <mat-error *ngIf="formControls.image.errors?.['required'] && formControls.image.touched">Field is required</mat-error> -->
        <app-danh-sach-hinh-anh></app-danh-sach-hinh-anh>
       <!-- </mat-form-field> -->
      </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      <button (click)="closepopup()" mat-raised-button color="warn">Close</button>
    </div>
    </form>
