<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start" class="custom">
    <mat-nav-list>
      <!-- <div class="image-container">
        <img src="../../../assets/logo tg.jpg" width="100"></div>
        <h5 class= "white-text" style="text-align: center">SỞ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN</h5> -->
      <!-- <mat-list-item>
        <button routerLink="card" mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item> -->
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>home</mat-icon> Trang chủ</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="intro" mat-button><mat-icon>description</mat-icon>Giới thiệu trang web</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="house" mat-button><mat-icon>list_alt</mat-icon>Danh sách nhà trọ</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="contacts" mat-button><mat-icon>phone</mat-icon>Liên hệ hỗ trợ</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="comments" mat-button><mat-icon>person</mat-icon>Bình luận và đánh giá</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="map" mat-button>
          <mat-icon>location_on</mat-icon> Bản đồ</button>
      </mat-list-item>
      <!-- <mat-list-item>
        <button routerLink="hangts" mat-button>
          <mat-icon>table</mat-icon> Table
        </button>
      </mat-list-item> -->
      <!-- <mat-list-item>
        <button routerLink="map" mat-button>
          <mat-icon>location_on</mat-icon> Bản đồ số
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="file-manager" mat-button>
          <mat-icon>create_new_folder</mat-icon> Quản lý file
        </button>
      </mat-list-item> -->
      <!-- <mat-list-item>
        <button routerLink="mapwindy" mat-button>
          <mat-icon>map</mat-icon> Map Windy
        </button>
      </mat-list-item> -->
      <!-- <mat-list-item>
        <button routerLink="form" mat-button>
          <mat-icon>receipt</mat-icon> Form
        </button>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="basic" class="mat-elevation-z8">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Hệ thống hỗ trợ tìm kiếm nhà trọ</span>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" placeholder="Tìm kiếm" />
      </mat-form-field>
      <!-- <button mat-raised-button color="primary">Đăng ký</button>
      <button mat-raised-button color="primary">Đăng nhập</button> -->
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-label>{{name}}</mat-label><mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>
    <div style="text-align: center; min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
