<h1>1. Mục đích của trang web</h1>
<p>Trang web này được lập nên nhằm phục vụ cho nhu cầu tìm nhà trọ cho những ai đang cần. 
Nhất là các bạn tân sinh viên vừa nhập học vẫn chưa quen với môi trường mới và đường sá ở nơi học tập mới.
Hy vọng trang web này sẽ hữu ích cho nhiều người và được phổ biến rộng rãi hơn.</p>
<h1>2. Các chức năng cơ bản của trang web</h1>
<p>Trang web có một số chức năng cơ bản hỗ trợ tìm kiếm như tìm kiếm theo địa chỉ, tìm kiếm theo giá thuê,
hỗ trợ đặt phòng online,....Ngoài ra, bạn có thể liên hệ với quản trị viên để được hỗ trợ thêm 
nếu cần thiết.
</p>
<h1>3. Quyền hạn và trách nhiệm của người dùng</h1>
<p>Trang web không yêu cầu đăng nhập đối với người có nhu cầu tìm nhà trọ. Cán bạn có thể xem danh sách các nhà trọ hiện có,
liên hệ đặt phòng, liên hệ với quản trị viên khi cần thiết. Các bạn lưu ý sử dụng ngôn từ chuẩn mực để không làm ảnh hưởng đến người khác. Xin cảm ơn. 
Nếu bạn là chủ nhà trọ thì bạn có thể đăng ký tài khoản trên hệ thống để đóng góp vào trang web của chúng tôi
và giúp cho mọi người có thể tìm đến nhà trọ của bạn dễ dàng hơn.
</p>
