mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }
mat-list{
    text-align: left;
}
mat-card{
  margin: 2%;
}

button{
  margin: 2px;
}

th{
  background-color: green !important;
  color: white;
}